<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Sign Up</title>
    <meta name="description" content="Quadra Theme Herakles Version" />
    <!--Keywords -->
    <meta name="keywords"
      content="modern, creative, website, html5, bootstrap responsive, parallax, soft, front-end, designer, coming soon, account, portfolio, photographer, grid, social, modules, design, personal, faq, one page, multi-purpose, branding, studio, agency, templates, css3, carousel, slider, corporate, theme, quadra, demos, blog, shop" />
    <meta name="author" content="GoldEyes" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1" />
    <!--Favicon -->
    <link rel="icon" type="image/png" href="/images/favicon.png" />
    <!-- CSS Files -->
    <link rel="stylesheet" type="text/css" href="/css/plugins.css?v=3.0" />
    <!-- Theme Styles -->
    <link rel="stylesheet" type="text/css" href="/css/theme.css?v=3.0" />
    <!-- Demo Styles -->
    <link rel="stylesheet" type="text/css" href="/content/herakles/css/herakles.css?v=3.0" />
    <!-- Color Scheme -->
    <link id="changeable_color" rel="stylesheet" type="text/css" href="/css/skins/skin-herakles.css" />
    <!-- End Page Styles -->
  </head>
  <body>

    <h1>Create your account</h1>

    <p> This is <%= signupPage %>! </p>


    <section id="contact" class="bg-gradient1 py-150 relative">

      <!-- Container for contact form -->
      <div class="container-sm mt-60 px-50 px-15-sm">
        <form name="contact_form" method="post" action="/signup" data-error-message="Validation error occured. Please enter the fields and submit it again." data-submit-message="Thank You ! Your email has been delivered.">
          <div class="row">
            <!-- Col for input -->
            <div class="col-lg-4 col-12 mt-30">
              <input type="text" name="firstname" id="firstname" placeholder="First Name*" required class="py-25 px-25 b-transparent fs-18 bg-colored1 dark-placeholder">
            </div>
            <div class="col-lg-4 col-12 mt-30">
              <input type="text" name="lastname" id="lastname" placeholder="Last Name*" required class="py-25 px-25 b-transparent fs-18 bg-colored1 dark-placeholder">
            </div>
            <div class="col-lg-4 col-12 mt-30">
              <input type="text" name="password" id="password" placeholder="Password*" required class="py-25 px-25 b-transparent fs-18 bg-colored1 dark-placeholder">
            </div>
            <!-- End col for input -->
            <!-- Col for input -->
            <div class="col-lg-4 col-12 mt-30">
              <input type="tel" name="phone" id="phone" placeholder="Phone" class="py-25 px-25 b-transparent fs-18 bg-colored1 dark-placeholder">
            </div>
            <!-- End col for input -->
            <!-- Col for input -->
            <div class="col-lg-4 col-12 mt-30">
              <input type="email" name="email" id="email" placeholder="E-Mail*" required class="py-25 px-25 b-transparent fs-18 bg-colored1 dark-placeholder">
            </div>
            <!-- End col for input -->
            <!-- Col for input -->

            <!-- End col for input -->
            <!-- Col for input -->
            <div class="col-lg-6 col-12 mt-30 d-flex justify-content-lg-end justify-content-center align-items-center">
              <!-- Send Button -->
              <button type="submit" id="submitt" class="inline-block width-250 py-20 bg-colored bg-dark-hover bs-colored white slow-sm fs-20 ">Sign Up</button>
              <!-- End Send Button -->
            </div>
            <!-- End col for input -->
          </div>
          <!-- End row for cols -->
        </form>



      </div>
  </body>
</html>
